@page
@model ClubBAISTGolfClub.Pages.MemberHomeModel
@{
    Layout = "_Header";
    ViewData["Title"] = "My Account";
}
<h2 class="intoh2">Welcome @Model.Member.MemberFirstName</h2>
<div class="memberhome"> 
    <div>
        <nav class="memberhome_nav">
            <ul>
                <li>
                    <a href="~/MemberHome">My Account</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="~/Admin">Admin</a>
                </li>
                @if (Model.Member.MemberApplicationStatus == "Approved")
                {
                    <li>
                        <a href="~/BookTeeTime">Tee Times</a>
                    </li>
                    <li>
                        <a href="#">My Reservations</a>
                    </li>
                }         
               
            </ul>
        </nav>
        <div class="infodiv">
            <h2>My Info</h2>
            <p>Personal Information</p>
            <div>
                <div>
                   
                </div>
                <div>
                    <p class="title">FirstName</p>
                    <p class="val">@Model.Member.MemberFirstName</p>

                    <p class="title">Address</p>
                    <p class="val">@Model.Member.MemberAddress</p>
                    
                    <p class="title">Membership type</p>
                    <p class="val">@Model.Member.MembershipType</p>

                    <p class="title">Application Date</p>
                    <p class="val">@Model.Member.MemberDateJoined</p>
                </div>
                <div>
                    <p class="title">LastName</p>
                    <p class="val">@Model.Member.MemberLastName</p>

                    <p class="title">Phone Number</p>
                    <p class="val">@Model.Member.MemberPhoneNumber</p>

                    <p class="title">Email Address</p>
                    <p class="val">@Model.Email</p>

                    <p class="title">Application Status</p>
                    <p class="val">@Model.Member.MemberApplicationStatus</p>
                </div>
            </div>
        </div>
    </div>  
</div>
