@page
@model ClubBAISTGolfClub.Pages.TeeTimeReservationsModel
@{
    Layout = "_Header";
    ViewData["Title"] = "My Reservations";
}
<div class="bookTee">
    <nav class="memberhome_nav">
        <ul>
            <li>
                <a href="~/MemberHome">My Account</a>
            </li>
            <li>
                <a href="~/BookTeeTime">Tee Times</a>
            </li>
            <li>
                <a href="~/TeeTimeReservations">Reservations</a>
            </li>
            <li>
                <a href="#">Events</a>
            </li>
            <li>
                <a href="~/Admin">Admin</a>
            </li>
        </ul>
    </nav>
    <div class="infodiv">
        <h2>My Reservations</h2>
        <form>
            <div class="month_form">
                <input type="number" name="MemberID" placeholder="TeeTimeID" class="updateMember_input" min="0" />
                <input type="submit" name="Submit" value="Go" class="updateMember_button" />
            </div>
            <table border="1" class="admintable">
                <tr>
                    <th>Tee Time ID</th>
                    <th>MemberID</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Reservation Status</th>
                </tr>
                @if (Model.TeeTimeList.Count == 0)
                {
                    <caption>You have No Currently Booked Reservations</caption>
                }
                @foreach (var teeTime in Model.TeeTimeList)
                {
                    <tr>
                        <td>@teeTime.TeeTimeID</td>
                        <td>@teeTime.MemberID</td>
                        <td>@teeTime.Date.ToString("yyyy-MM-dd")</td>
                        <td>@teeTime.Time</td>
                        <td>@teeTime.ReservationStatus</td>
                    </tr>
                }
            </table>
        </form>
    </div>
</div>
