@page
@model UIRazorPagesAssignment.Pages.SignUpModel
@{
    ViewData["Title"] = "Sign Up";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Welcome To Nicholas App</title>
     <script type="text/javascript">

         function isFormValid(newStudent) {
            var isValid = false;
            var firstNameValue = newStudent.FirstName.value;
            var lastNameValue = newStudent.LastName.value;
            var emailValue = newStudent.Email.value;
            var passwordValue = newStudent.Password.value;
            var userIDValue = newStudent.UserID.value;
            var confirmPasswordValue = newStudent.ConfirmPassword.value;
            const emailPattern = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            const userIDPattern = /^[A-Za-z]{4}[0-9]{4}$/

             if (firstNameValue.length < 1) {
                 alert('First Name is Required');
             }
             else if (lastNameValue.length < 1) {
                 alert("Last Name is Required");
             }
             else if (emailValue.length < 1) {
                 alert("Email is Required");
             }
             else if (!emailPattern.test(emailValue)) {
                alert("Enter a Valid Email");
             }
             else if (userIDValue.length < 1) {
                alert("UserID is Required");
             }
             else if (!userIDPattern.test(userIDValue)){
                 alert("Invalid UserName")
             }
            else if (passwordValue.length < 1) {
                alert("Password is Required");
            }
            else if (passwordValue.length < 6) {
                alert("Password must be at least 6 charcters");
            }
            else if (confirmPasswordValue.length < 1) {

                alert("Must Confirm Password");

            } else if (confirmPasswordValue != passwordValue) {

                alert("Passwords Must Match");

            }
            else{
                 isValid = true;
             }
             return isValid
         }
     </script> 
</head>
<body>
    <!--return isFormValid(window.document.SignUp)-->
    <div class="text-center">
        <h1 class="display-4">New Student</h1>
        <form name="SignUp" method="post"  onsubmit="return true;">
            <table>
                <tr>
                    <td>First Name</td>
                    <td>
                        <input type="text" name="FirstName" id="firstname"/>
                        @Html.ValidationMessage("FirstNameInput")
                    </td>
                </tr>
               <tr>
                    <td>Last Name</td>
                    <td>
                        <input type="text" name="LastName" />
                        @Html.ValidationMessage("LastNameInput")
                    </td>
                    
                </tr>
                <tr>
                    <td>Email</td>
                    <td>
                        <input type="text" name="Email" />
                        @Html.ValidationMessage("EmailInput")
                    </td>
                </tr>
                <tr>
                    <td>Program</td>
                    <td>
                        <select name="Program">
                            <option value="BAIST">Bachelor Of Applied Information Systems Technology</option>
                            <option value="BBA">Bachelor of Business Administration</option>
                            <option value="PHOT">Photographic Technology</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>User ID</td>
                    <td>
                        <input type="text" name="UserID"/>
                        @Html.ValidationMessage("UserNameInput")
                     </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>
                        <input type="password" name="Password" />
                        @Html.ValidationMessage("PasswordInput");
                    </td>
                </tr>
                <tr>
                    <td>Confirm Password</td>
                    <td>
                        <input type="password" name="ConfirmPassword" />
                        @Html.ValidationMessage("ConfirmPasswordInput");
                     </td>
                </tr>
                <tr>
                    <td><input type="submit" /></td>
                </tr>
                <tr>
                    <td>@Model.Message</td>     
                </tr>

            </table>
        </form>
    </div>
</body>
</html>