@page
@model ABCHardWare.Pages.DeleteItemModel
@{
}
<script type="text/javascript">
    function isFormValid(newItem) {
        var isValid = false;
        var ItemCodeValue = newItem.ItemCode.value;
        const ItemCodePattern = /^[A-Za-z][0-9]{5}$/

        if (!ItemCodePattern.test(ItemCodeValue)) {
            alert("Item Code must start with a letter and be followed by five numbers");
        }
        else {
            isValid = true;
        }
        return isValid
    }
</script>
<form name="DeleteItem" method="post" onsubmit="return isFormValid(window.document.DeleteItem)">
    <h2>Delete Item</h2>
    <table>
        <tr>
            <td>
                <input type="text" name="ItemCode" required placeholder="ItemCode" value="@Model.ItemCode" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Submit" value="FindItem" class="sub" />
            </td>
        </tr>
       
        
    </table>
    <table border="0" class="found">
        <thead>
            <tr>
                <th>Item Code</th>
                <th>Description</th>
                <th>UnitPrice</th>
                <th>Delete</th>
            </tr>
        </thead>
        @if (Model.Description != string.Empty)
        {
            <tbody>

                <tr>
                    <td>@Model.ItemCode</td>
                    <td>@Model.Description</td>
                    <td>@Model.UnitPrice</td>
                    <td>
                        <input type="submit" name="Submit" value="Delete" class="deleteB" />
                    </td>
                </tr>
            </tbody>
        }  
    </table>
    <div class="message">
        <p>@Model.Message</p>
    </div>
</form>