@page
@model ABCHardWare.Pages.ProcessSaleModel
@{
}
<script type="text/javascript">
    function isFormValid(newItem) {
        var isValid = false;
        var ItemCodeValue = newItem.ItemCode.value;
        const ItemCodePattern = /^[A-Za-z][0-9]{5}$/

        if (!ItemCodePattern.test(ItemCodeValue)) {
            alert("Item Code must start with a letter and be followed by five numbers");
        }
        else {
            isValid = true;
        }
        return isValid
    }
    function disableSelect() {
        var selectElement = document.getElementById('mySelect');
        selectElement.disabled = true;
    }
</script>
<form name="ProcessSale" method="post" class="pSale" onsubmit="return isFormValid(window.document.ProcessSale); disableSelect();">
    <h2>Process Sale</h2>
    <div class="topReciept">
        <p>
            ItemCode: <input type="text" name="ItemCode" required placeholder="ItemCode" value="@Model.ItemCode" class="code"/>   
            Quantity: <input type="number" required name="Quantity" value="1" min="1" />
            <input type="submit" name="Submit" value="AddItem" class="addItem" />
          @*   <select id="mySelect" name="CustomerID" style="width: 150px; height: 3rem; background-color: white; border-radius: 10%;">
                <option value="#">Select A Customer</option>
                @foreach (var item in Model.CustomerList)
                {
                   <option value="@item.CustomerID" >@item.FirstName @item.LastName</option>
                }
            </select> *@
        </p>
    </div>

    <div class="topReciept">
        <div>
            <p>Sale Number: @Model.SaleNumber</p>
            <p>SaleDate: @Model.SaleDate</p>
            <p>SalesPerson: @Model.SalesPerson</p>
            
        </div>
        <div>
            <p>CustomerName: @Model.Customer.FirstName @Model.Customer.LastName</p>
            <p>Address: @Model.Customer.Address</p>
            <p>City: @Model.Customer.City</p>
            <p>Province: @Model.Customer.Province</p>
            <p>PostalCode: @Model.Customer.PostalCode</p>
        </div>
    </div>

    <div class="scrollable-section">
        <table class="found">
            @if (Model.SaleItems.Count > 0)
            {
                <tr>
                    <td class="address">Remove From List</td>
                    <td>
                        <input type="text" name="SelectedItem" placeholder="ItemCode" />
                    </td>
                    <td>
                        <input type="submit" name="Submit" value="Delete" class="deleteB" />
                    </td>
                </tr>
            }
            
            <thead>
                <tr>
                    <th>Item Code</th>
                    <th>Description</th>
                    <th>UnitPrice</th>
                    <th>Quantity</th>
                    <th>ItemTotal</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.SaleItems != null)
                {
                    @foreach (var item in Model.SaleItems)
                    {
                        <tr>
                            <td>@item.ItemCode</td>
                            <td>@item.Description</td>
                            <td>@item.UnitPrice</td>
                            <td>@item.Quantity</td>
                            <td>@item.Price</td>
                        </tr>
                    }
                }       
            </tbody>
        </table>
    </div>
    
    <div class="topReciept">
        <div>
            <p>Sub Total: @Model.Item.ItemTotal</p>
            <p>GST: @Model.GST</p>
            <p>Total: @Model.Total</p>
        </div>
        <div>
            <p>Time: @Model.SaleTime</p>
        </div> 
    </div>
    <div>
        <input type="submit" name="Submit" value="ProcessSale" class="select" />
        <p>@Model.Message</p>
    </div>
</form>