@page
@model ABCHardWare.Pages.ProcessSaleModel
@{
}
<script type="text/javascript">
    function isFormValid(newItem) {
        var isValid = false;
        var ItemCodeValue = newItem.ItemCode.value;
        const ItemCodePattern = /^[A-Za-z][0-9]{5}$/

        if (!ItemCodePattern.test(ItemCodeValue)) {
            alert("Item Code must start with a letter and be followed by five numbers");
        }
        else {
            isValid = true;
        }
        return isValid
    }
</script>
<form name="ProcessSale" method="post" class="pSale" onsubmit="return isFormValid(window.document.ProcessSale)">
    <h2>Process Sale</h2>
    <table>
        <tr> 
            <td>ItemCode</td>
            <td>
                <input type="text" name="ItemCode" required placeholder="ItemCode" value="@Model.ItemCode" />
            </td>
            
            <td>
                <input type="submit" name="Submit" value="AddItem" class="addItem" />
            </td>
        </tr>
        <tr>
            <td class="qtty">Quantity</td>
            <td>
                <input type="number" required name="Quantity" value="1" min="1"/>
            </td>
        </tr>
    </table>
    <div class="scrollable-section">
        <table class="found">
            @if (Model.SaleItems.Count > 0)
            {
                <tr>
                    <td class="address">Remove From List</td>
                    <td>
                        <input type="text" name="SelectedItem" placeholder="ItemCode" />
                    </td>
                    <td>
                        <input type="submit" name="Submit" value="Delete" class="deleteB" />
                    </td>
                </tr>
            }
            
            <thead>
                <tr>
                    <th>Item Code</th>
                    <th>Description</th>
                    <th>UnitPrice</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.SaleItems != null)
                {
                    @foreach (var item in Model.SaleItems)
                    {
                        <tr>
                            <td>@item.ItemCode</td>
                            <td>@item.Description</td>
                            <td>@item.UnitPrice</td>
                            <td>@item.Quantity</td>
                            <td>@item.Price</td>
                        </tr>
                    }
                }       
            </tbody>
        </table>
    </div>
    
    <div class="mesage">
        <p>Sub Total: @Model.Item.ItemTotal</p>
        <p>GST: @Model.GST</p>
        <p>Total: @Model.Total</p>
        <input type="submit" name="Submit" value="ProcessSale" class="select" />
   @*      <p>@Model.Message</p> *@
    </div>
</form>