@page
@model ABCHardWare.Pages.ProcessSaleModel
@{
}
<script type="text/javascript">
    function isFormValid(newItem) {
        var isValid = false;
        var ItemCodeValue = newItem.ItemCode.value;
        const ItemCodePattern = /^[A-Za-z][0-9]{5}$/

        if (!ItemCodePattern.test(ItemCodeValue)) {
            alert("Item Code must start with a letter and be followed by five numbers");
        }
        else {
            isValid = true;
        }
        return isValid
    }
</script>
<form name="ProcessSale" method="post" class="pSale" onsubmit="return isFormValid(window.document.ProcessSale)">
    <h2>Process Sale</h2>
    <table>
        <tr>
            <td>
                <input type="text" name="ItemCode" required placeholder="ItemCode" value="@Model.ItemCode" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Submit" value="AddItem" class="sub"/>
            </td>
        </tr>


    </table>
    <div class="scrollable-section">
        <table class="found">
            <thead>
                <tr>
                    <th>Item Code</th>
                    <th>Description</th>
                    <th>UnitPrice</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.SaleItems != null)
                {
                    @foreach (var item in Model.SaleItems)
                    {
                        <tr>
                            <td>@item.ItemCode</td>
                            <td>@item.Description</td>
                            <td>@item.UnitPrice</td>
                            <td>@Model.Price</td>
                            <td>
                                <input type="number" name="Quantity" />
                            </td>
                            <td>
                                <input type="submit" name="Submit" value="Delete" class="deleteB" />
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    
    <script type="text/javascript">
        displayFieldsInStorage();

    </script>
    <div class="message">
        <p>@Model.Message</p>
    </div>
</form>