@page
@model ABCHardWare.Pages.UpdateCustomerModel
@{
}

<form method="post" name="UpdateCustomer" class="transition-fade">
    <h2>Update Customer</h2>
    <table>
        <tr class="updateCustomertr">
            <td>
                <input type="text" name="FirstName" required placeholder="First Name" value="@Model.FirstName" />
                @Html.ValidationMessage("FirstNameInput")
                <input type="text" name="LastName" required placeholder="Last Name" value="@Model.LastName"/>
                @Html.ValidationMessage("LastNameInput")
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Submit" value="FindCustomer" class="sub" />
            </td>
        </tr>
            <input type="text" name="CustomerID" placeholder="ID" value="@Model.CustomerID" hidden/>
        <tr>
            <td>
                <input type="text" name="Address" placeholder="Address" value="@Model.Address"/>
                @Html.ValidationMessage("AddressInput")
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="City" placeholder="City" value="@Model.City"/>
                @Html.ValidationMessage("CityInput")
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="Province" placeholder="Province" value="@Model.Province"/>
                @Html.ValidationMessage("ProvinceInput")
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="PostalCode" placeholder="PostalCode" value="@Model.PostalCode"/>
                @Html.ValidationMessage("PostalCodeInput")
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Submit" value="UpdateCustomer" class="sub" />
            </td>
        </tr>
    </table>
    <div class="message">
        <p>@Model.Message</p>
    </div>
</form>