@page
@model ABCHardWare.Pages.UpdateItemModel
@{
}
 <script type="text/javascript">
    function isFormValid(newItem) {
        var isValid = false;
        var ItemCodeValue = newItem.ItemCode.value;
        const ItemCodePattern = /^[A-Za-z][0-9]{5}$/
 
        if (!ItemCodePattern.test(ItemCodeValue)) {
            alert("Item Code must start with a letter and be followed by five numbers");
        }
        else {
            isValid = true;
        }
        return isValid
    }
</script>
<form name="UpdateItem" method="post" onsubmit="return isFormValid(window.document.UpdateItem)">
    <h2>Update Item</h2>
    <table>
        <tr>
            <td>
                <input type="text" name="ItemCode" required placeholder="ItemCode" value="@Model.ItemCode"/>
                @Html.ValidationMessage("ItemCodeInput")
            </td>
        </tr>
         <tr>
            <td>
                <input type="submit" name="Submit" value="FindItem" class="sub"/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="Description" placeholder="Description" value="@Model.Description"/>
                @Html.ValidationMessage("DescriptionInput")
            </td>
        </tr>
        <tr>
            <td>
                <input type="number" name="UnitPrice" min="0" max="9999999999" step=".01" placeholder="UnitPrice" value="@Model.UnitPrice"/>
                @Html.ValidationMessage("UnitPriceInput")
            </td>
        </tr>
        <tr>
            <td>
                <input type="number" name="QOH" min="0" max="9999999999" placeholder="Quantity On Hand" value="@Model.QOH"/>
                @Html.ValidationMessage("QOHInput")
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Submit" value="UpdateItem" class="sub" />
            </td>
        </tr>
    </table>
    <div class="message">
        <p>@Model.Message</p>
    </div>
</form>