@page
@model ABCHardWare.Pages.UpdateItemModel
@{
}

<form name="UpdateItem" method="post" class="transition-fade">
    <h2>Update Item</h2>
    <table>
        <tr>
            <td>
                <input type="text" name="ItemCode" required placeholder="ItemCode"/>
                @Html.ValidationMessage("ItemCodeInput")
            </td>
        </tr>
         <tr>
            <td>
                <input type="submit" name="Submit" value="FindItem" class="sub"/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="Description" placeholder="Description" value="@Model.Description"/>
                @Html.ValidationMessage("ItemCodeInput")
            </td>
        </tr>
        <tr>
            <td>
                <input type="number" name="UnitPrice" min="0" max="9999999999" step=".01" placeholder="UnitPrice" value="@Model.UnitPrice"/>
                @Html.ValidationMessage("ItemCodeInput")
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Submit" value="UpdateItem" class="sub" />
            </td>
        </tr>
    </table>
    <div class="message">
        <p>@Model.Message</p>
    </div>
</form>