@page
@model nekwomBAIST310CodeSampleEmpty.Pages.FindProgramModel
@{
}
@section scriptDDAVAlidation{
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}
<h2>@Model.Message</h2>
<form name="FindProgram" method="post">
    <table>
        <tr>
            <td>
                Program Code
            </td>
            <td>
                <input asp-for="ProgramCode" />
            </td>
            <td>
                <span asp-validation-for="ProgramCode"></span>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" name="Submit" value="Find Program"/>
            </td>
        </tr>
        <tr>
            <td>@Model.Program.ProgramCode</td>
            <td>@Model.Program.Description</td> <br />
           
            
        </tr>
        @foreach (var student in Model.Program.EnrolledStudents)
        {
            <tr>
                <td>
                    @student.FirstName
                </td>

                <td>
                    @student.LastName
                </td> 
                <td>
                    @student.Email
                </td>
            </tr>

        }
    </table>
</form>